workflowexport.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {},
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -768,
        -80
      ],
      "id": "833a183b-9268-484a-8cb0-bf7eaa23772d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const regions = [\n  { region: \"NE\",  bbox: \"35,-90,50,-65\" },\n  { region: \"SE\",  bbox: \"24,-90,35,-65\" },\n  { region: \"MW\",  bbox: \"35,-105,50,-90\" },\n  { region: \"SW\",  bbox: \"24,-105,35,-90\" },\n  { region: \"NW\",  bbox: \"35,-125,50,-105\" },\n  { region: \"SWC\", bbox: \"24,-125,35,-105\" }\n];\n\nreturn regions.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        -80
      ],
      "id": "01c2a606-1cbf-4269-ad14-fe389897bf67",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://aviationweather.gov/api/data/pirep",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "age",
              "value": "2"
            },
            {
              "name": "bbox",
              "value": "={{ $json.bbox }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent ",
              "value": "student-project-flight-corridor-ai"
            },
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -320,
        -80
      ],
      "id": "c4fb28eb-88cd-411f-b6b1-7d8eb457df64",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const turbMap = {\n  \"\": 0, \"NEG\": 0, \"NEG-LGT\": 1, \"LGT\": 2, \"LGT-MOD\": 3,\n  \"MOD\": 4, \"MOD-SEV\": 5, \"SEV\": 6, \"SEV-EXTM\": 7, \"EXTM\": 8\n};\n\nconst output = [];\n\nfor (const item of $input.all()) {\n  const p = item.json;\n\n  if (!p || typeof p !== \"object\") continue;  // skip anything malformed/empty\n\n  const s1 = turbMap[p.tbInt1 || \"\"] ?? 0;\n  const s2 = turbMap[p.tbInt2 || \"\"] ?? 0;\n\n  output.push({\n    json: {\n      obsTime: p.obsTime,\n      icaoId: p.icaoId,\n      acType: p.acType,\n      lat: p.lat,\n      lon: p.lon,\n      fltLvl: p.fltLvl,\n      tbInt1: p.tbInt1,\n      tbType1: p.tbType1,\n      tbFreq1: p.tbFreq1,\n      turb_score: Math.max(s1, s2),\n      rawOb: p.rawOb,\n      collected_at: new Date().toISOString()\n    }\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -80
      ],
      "id": "fd3e11da-61f4-4320-b466-30fd96c4811b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "................",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": ".........."
            },
            {
              "name": "Authorization",
              "value": "......."
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"obs_time\": {{ $json.obsTime }},\n  \"icao_id\": \"{{ $json.icaoId }}\",\n  \"ac_type\": \"{{ $json.acType }}\",\n  \"lat\": {{ $json.lat }},\n  \"lon\": {{ $json.lon }},\n  \"flt_lvl\": {{ $json.fltLvl }},\n  \"tb_int1\": \"{{ $json.tbInt1 }}\",\n  \"tb_type1\": \"{{ $json.tbType1 }}\",\n  \"tb_freq1\": \"{{ $json.tbFreq1 }}\",\n  \"turb_score\": {{ $json.turb_score }},\n  \"raw_ob\": \"{{ $json.rawOb }}\"\n}",
        "options": {}
      },
      "id": "b80ae4a7-33b6-4441-ac3e-16965a9fd283",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        128,
        -80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b5c97173-ecbc-4222-9539-a9ddb0d956d9",
              "leftValue": "={{ $json.turb_score }}",
              "rightValue": 4,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        96,
        32
      ],
      "id": "9ffe02a0-e7b7-410d-87ca-62862c10ad11",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": ".......",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=Turbulence Alert - Station: {{ $json.icaoId }} - Severity: {{ $json.tbInt1 }} (score {{ $json.turb_score }}/8) - Location: {{ $json.lat }}, {{ $json.lon }} - Aircraft: {{ $json.acType }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        64
      ],
      "id": "2a798db9-8ea3-4f85-a759-90f87b218dae",
      "name": "HTTP Request2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2561b3af-9e45-4f1e-8209-c696e72be3b9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4f39043b2ce3aee878b9e4c76bbd702d42b337edd15d098b353404249f5199c"
  },
  "nodeGroups": [],
  "id": "Gf8G7jiACY9GdksP",
  "tags": []
}